/* animations */
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#guides .link-text:hover img,
#guides .link-text:focus-visible img {
  margin-left: 0.5rem;
}
#guides .article:hover img,
#guides .article:focus-visible img {
  transform: scale(105%);
}
#guides .article:hover {
  box-shadow: 0 0px 50px rgba(57, 255, 20, 0.15);
  transition: box-shadow 0.3s ease;
}
/* animations end */
#guides .hidden {
  display: none !important;
}
#guides .width-restrict {
  margin: 0 auto;
  max-width: 1920px;
}
#guides .button-container button:hover,
#guides .button-container button:focus-visible {
  color: white;
}
/* Panel 3 */
#guides {
  padding: 2rem 0rem;
  /* background-image: url(https://assets.corsair.com/image/upload/f_auto,q_auto/akamai/hybris/homepage/refresh/hp-bg-pattern-guides.png); */
  background-size: cover;
  overflow: hidden;
  color: white;
}
#guides h2,
#guides .subhead-link,
#guides .button-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
#guides h2 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.5rem;
}
#guides .link-text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #ece81a;
  font-size: 0.75rem;
}
#guides .link-text img {
  object-fit: contain;
  margin-left: 0.25rem;
  height: 12px;
  margin-top: 3px;
  transition: 200ms;
}
#guides .button-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#guides .button-container button {
  width: 50%;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding-bottom: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  transition: 200ms;
  color: #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}
#guides .button-container button.active {
  border-bottom: 1px solid #ece81a;
  color: white;
}
#guides .article-group {
  position: relative;
  height: 400px;
}
#guides .article-container {
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 0.25rem;
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  transition: 500ms cubic-bezier(0.75, 0, 0.45, 1);
}
#guides #featuredArticles {
  transform: translateX(-100%);
}
#guides #latestArticles {
  transform: translateX(100%);
}
#guides .article-container.active {
  opacity: 1;
  pointer-events: inherit;
  transform: translateX(0%) !important;
}
/* Custom scrollbar for WebKit browsers */
#guides .article-container::-webkit-scrollbar {
  height: 5px;
}
#guides .article-container::-webkit-scrollbar-thumb {
  background-color: #a0a0a0bf;
  border-radius: 10px;
}

#guides .article-container::-webkit-scrollbar-track {
  background: transparent;
}
#guides .article-container::-webkit-scrollbar-button {
  display: none;
}
#guides .article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 75%;
  flex: 0 0 75%;
}
#guides .article img {
  max-height: 360px;
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px 2px 0px 0px;
  transition: 750ms;
}
#guides .article .text-container {
  padding: 1rem 1rem 2rem 1rem;
  background-color: #0c0d0d;
  flex-grow: 1;
  z-index: 1;
}
#guides .article h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #a0a0a0;
  margin-bottom: 0.5rem;
}
#guides .article p {
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (min-width: 767px) {
  #guides {
    padding: 4rem 2rem;
  }
  #guides .article-group {
    height: 450px;
  }
  #guides h2,
  #guides .subhead-link,
  #guides .button-container {
    padding-left: 0;
    padding-right: 0;
  }
  #guides .article-container {
    overflow: hidden;
  }
  #guides .article {
    width: calc(33.334% - 0.67rem);
    flex: none;
  }
  #guides h2 {
    font-size: 4rem;
  }
  #guides .article p {
    font-size: 1.25rem;
    color: #fff;
  }
  #guides .button-container {
    margin-top: 2rem;
  }
  #guides .button-container button {
    font-size: 1.5rem;
  }
  #guides .link-text.subhead-link {
    font-size: 1rem;
  }
  #guides .link-text.subhead-link img {
    height: unset;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  #guides .article p {
    font-size: 1.25rem;
  }
  #guides .article-group {
    height: 550px;
  }
}

/* Eliminar subrayado de todos los enlaces en las noticias de landing */
#guides .article {
  text-decoration: none;
}

#guides .article:hover {
  text-decoration: none;
}
