/* animations */
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Panel 4 */
#why-buy {
  display: flex;
  margin: 0 auto;
  max-width: 1366px;
  flex-direction: column;
}
#why-buy h2 {
  font-size: 2.25rem;
  line-height: 1;
}
#why-buy .copy-container {
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
}
#why-buy .copy-container .link-text {
  display: flex;
  text-transform: uppercase;
  color: #ece81a;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  justify-content: center;
}
#why-buy .copy-container .link-text img {
  object-fit: contain;
  margin-left: 0.25rem;
  height: 12px;
  margin-top: 3px;
  transition: 200ms;
}
#why-buy .copy-container .link-text:hover img,
#why-buy .copy-container .link-text:focus-visible img {
  margin-left: 0.5rem;
}
#why-buy .why-buy-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 0.85rem;
}
#why-buy .why-buy-link p {
  padding: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
}
#why-buy .why-buy-link img {
  width: 80px;
  transition: 200ms;
  border: 2px solid transparent;
  border-radius: 50%;
}
#why-buy .why-buy-link:hover img,
#why-buy .why-buy-link:focus-visible img {
  border: 2px solid var(--accent-green-tint);
}

@media (min-width: 767px) {
  #why-buy .copy-container .link-text {
    font-size: 1rem;
  }
  #why-buy .copy-container .link-text img {
    height: unset;
    margin-top: 0;
  }
  #why-buy .why-buy-link {
    width: 40%;
    margin-left: auto;
  }
  #why-buy .copy-container {
    width: 100%;
  }
  #why-buy {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  #why-buy .why-buy-link {
    width: 18%;
    margin: 0;
  }
  #why-buy {
    flex-direction: row;
    flex-wrap: unset;
  }
  #why-buy h2 {
    max-width: 400px;
  }
  #why-buy .why-buy-link p {
    max-width: 150px;
  }
  #why-buy .copy-container {
    padding-right: 1rem;
    margin-bottom: 0;
    text-align: left;
    width: 28%;
  }
  #why-buy .copy-container .link-text {
    justify-content: left;
  }
}
