/* Fuentes locales Orbitron y Roboto */
@font-face {
  font-family: "Orbitron";
  src: url(./fonts/Orbitron.woff2) format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto.woff2) format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
