.BentoBox_section-container__yBYID {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx {
    margin-top: 0.5rem;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(236, 232, 26, var(--tw-text-opacity));
    font-size: 1rem;
    align-items: center;
  }

  .BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx img {
    margin-top: 0;
  }

  .BentoBox_bento-container__23r4y,
  .BentoBox_bento-content-item__3UayJ,
  .BentoBox_bento-tiles__3e5Y- {
    height: 900px;
  }
}

@media (min-width: 1280px) {
  .BentoBox_bento-container__23r4y,
  .BentoBox_bento-content-item__3UayJ,
  .BentoBox_bento-tiles__3e5Y- {
    height: 1200px;
  }
}

.BentoBox_bento-container__23r4y {
  position: relative;
  overflow-x: hidden;
}

.BentoBox_bento-container__23r4y > :first-child {
  transform: translateX(-100%);
}

.BentoBox_bento-container__23r4y > :nth-child(2) {
  transform: translateX(100%);
}

.BentoBox_bento-container__23r4y,
.BentoBox_bento-content-item__3UayJ,
.BentoBox_bento-tiles__3e5Y- {
  height: calc(1500px + 6rem);
}

.BentoBox_bento-content-item__3UayJ.BentoBox_top-center-copy__3UeyQ
  .BentoBox_product-card__1IZaK {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.BentoBox_bento-content-item__3UayJ.BentoBox_active__1FGCg {
  opacity: 1;
  pointer-events: inherit;
  transform: translateX(0);
}

.BentoBox_button-container__3iLH- button.BentoBox_active__1FGCg {
  color: var(--white);
  border-bottom: 2px solid #ece81a;
}

.BentoBox_bento-container__23r4y,
.BentoBox_bento-content-item__3UayJ,
.BentoBox_bento-tiles__3e5Y- {
  height: calc(1500px + 6rem);
}

.BentoBox_bento-tiles__3e5Y- {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 1rem;
  gap: 1rem;
  color: var(--white);
}

@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y- {
    flex-direction: row;
  }
}

.BentoBox_bento-tiles__3e5Y- {
  transition: 0.5s cubic-bezier(0.75, 0, 0.45, 1);
}

.BentoBox_bento-tiles__3e5Y- > div {
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 1rem;
  gap: 1rem;
}
@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y- > div {
    width: 50%;
  }
}

.BentoBox_bento-tiles__3e5Y- h2 {
  position: relative;
  z-index: 1;
  line-height: 1.1;
  font-size: 1.25rem;
  color: #fff;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y- h2 {
    font-size: 1.75rem;
  }
}

.BentoBox_bento-tiles__3e5Y- p {
  position: relative;
  z-index: 1;
  font-size: 1.125rem;
  z-index: 1.3;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx {
  position: relative;
  z-index: 1;
  margin-top: 0.5rem;
  display: flex;
  --tw-text-opacity: 1;
  color: rgba(236, 232, 26, var(--tw-text-opacity));
  font-size: 0.75rem;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx img {
  margin-left: 0.25rem;
  -o-object-fit: contain;
  object-fit: contain;
  transition: 0.2s;
  height: 12px;
  margin-top: 3px;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-one__yWoCl
  > :first-child {
  height: 50%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-one__yWoCl
  > :nth-child(2),
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-one__yWoCl
  > :nth-child(3) {
  height: 25%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :first-child {
  height: 50%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :nth-child(2),
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :nth-child(3) {
  height: 25%;
}

@media (min-width: 1350px) {
  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :first-child {
    height: 23%;
  }

  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :nth-child(2) {
    height: 35%;
  }

  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :nth-child(3) {
    height: 43%;
  }
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_right-column__2p8kY > :first-child,
.BentoBox_bento-tiles__3e5Y- .BentoBox_right-column__2p8kY > :nth-child(2),
.BentoBox_bento-tiles__3e5Y- .BentoBox_right-column__2p8kY > :nth-child(3) {
  height: 33.333333%;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card-double__3Aavy {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  min-height: 250px;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card-double__3Aavy > a {
  width: calc(50% - 0.5rem);
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK {
    padding: 2rem;
  }
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK {
  border-radius: 4px;
  text-shadow: 0 0 5px #000;
  min-height: 250px;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: transform 0.75s;
  z-index: 0;
  background-image: var(--background-image);
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_product-card__1IZaK:focus-visible
  .BentoBox_link-text__1UaLx
  img,
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_product-card__1IZaK:hover
  .BentoBox_link-text__1UaLx
  img {
  margin-left: 0.5rem;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:focus-visible:before,
.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:hover:before {
  transform: scale(1.05);
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:hover {
  box-shadow: 0 8px 25px rgba(57, 255, 20, 0.15);
  transition: box-shadow 0.3s ease;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK {
  flex-direction: column;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK {
    flex-direction: row;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_left-column__3nDnA {
  height: 50%;
  width: 100%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_left-column__3nDnA {
    height: 100%;
    width: 33.333333%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY {
  height: 50%;
  width: 100%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY {
    height: 100%;
    width: 66.666667%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  > :first-child {
  height: 25%;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv {
  flex-wrap: wrap;
  grid-gap: 1rem;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv {
    display: grid;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv {
  height: 75%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 1280px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv
    > a {
    width: 100%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  > a:nth-child(-n + 3) {
  width: 30%;
  flex-grow: 1;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:first-child {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(3) {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}

@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv
    a:nth-child(3) {
    width: 30%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(4) {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: 3;
}

@media (min-width: 1280px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv {
    height: 83%;
  }

  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv
    > a:nth-child(-n + 3) {
    width: 100%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_product-card-double__3Aavy,
.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_product-card__1IZaK {
  min-height: 30%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_product-card-double__3Aavy,
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_product-card__1IZaK {
    min-height: 250px;
  }
}

@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx {
    margin-top: 0.5rem;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(236, 232, 26, var(--tw-text-opacity));
    font-size: 1rem;
    align-items: center;
  }

  .BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx img {
    margin-top: 0;
  }

  .BentoBox_bento-container__23r4y,
  .BentoBox_bento-content-item__3UayJ,
  .BentoBox_bento-tiles__3e5Y- {
    height: 900px;
  }
}

@media (min-width: 1280px) {
  .BentoBox_bento-container__23r4y,
  .BentoBox_bento-content-item__3UayJ,
  .BentoBox_bento-tiles__3e5Y- {
    height: 1200px;
  }
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-one__yWoCl
  > :first-child {
  height: 50%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-one__yWoCl
  > :nth-child(2),
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-one__yWoCl
  > :nth-child(3) {
  height: 25%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :first-child {
  height: 50%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :nth-child(2),
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :nth-child(3) {
  height: 25%;
}

@media (min-width: 1350px) {
  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :first-child {
    height: 23%;
  }

  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :nth-child(2) {
    height: 35%;
  }

  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :nth-child(3) {
    height: 43%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_left-column__3nDnA {
  height: 50%;
  width: 100%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_left-column__3nDnA {
    height: 100%;
    width: 33.333333%;
  }
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :first-child {
  height: 50%;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :nth-child(2),
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
  > :nth-child(3) {
  height: 25%;
}

@media (min-width: 1350px) {
  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :first-child {
    height: 23%;
  }

  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :nth-child(2) {
    height: 35%;
  }

  .BentoBox_bento-tiles__3e5Y-
    .BentoBox_left-column__3nDnA.BentoBox_style-two__2WnXc
    > :nth-child(3) {
    height: 43%;
  }
}

.BentoBox_bento-content-item__3UayJ.BentoBox_bottom-left-copy__37JSI
  .BentoBox_product-card__1IZaK {
  align-content: flex-end;
  box-shadow: inset 0 -40px 50px #00000080;
}

.BentoBox_bento-content-item__3UayJ.BentoBox_top-center-copy__3UeyQ
  .BentoBox_product-card__1IZaK {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK {
    padding: 2rem;
  }
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK {
  border-radius: 4px;
  text-shadow: 0 0 5px #000;
  min-height: 250px;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: transform 0.75s;
  z-index: 0;
  background-image: var(--background-image);
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_product-card__1IZaK:focus-visible
  .BentoBox_link-text__1UaLx
  img,
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_product-card__1IZaK:hover
  .BentoBox_link-text__1UaLx
  img {
  margin-left: 0.5rem;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:focus-visible:before,
.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card__1IZaK:hover:before {
  transform: scale(1.05);
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_product-card-double__3Aavy,
.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_product-card__1IZaK {
  min-height: 30%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_product-card-double__3Aavy,
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_product-card__1IZaK {
    min-height: 250px;
  }
}

@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx {
    margin-top: 0.5rem;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(236, 232, 26, var(--tw-text-opacity));
    font-size: 1rem;
    align-items: center;
  }

  .BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx img {
    margin-top: 0;
  }

  .BentoBox_bento-container__23r4y,
  .BentoBox_bento-content-item__3UayJ,
  .BentoBox_bento-tiles__3e5Y- {
    height: 900px;
  }
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx {
  position: relative;
  z-index: 1;
  margin-top: 0.5rem;
  display: flex;
  --tw-text-opacity: 1;
  color: rgba(236, 232, 26, var(--tw-text-opacity));
  font-size: 0.75rem;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_link-text__1UaLx img {
  margin-left: 0.25rem;
  -o-object-fit: contain;
  object-fit: contain;
  transition: 0.2s;
  height: 12px;
  margin-top: 3px;
}

.BentoBox_bento-tiles__3e5Y-
  .BentoBox_product-card__1IZaK:focus-visible
  .BentoBox_link-text__1UaLx
  img,
.BentoBox_bento-tiles__3e5Y-
  .BentoBox_product-card__1IZaK:hover
  .BentoBox_link-text__1UaLx
  img {
  margin-left: 0.5rem;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card-double__3Aavy {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  min-height: 250px;
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_product-card-double__3Aavy > a {
  width: calc(50% - 0.5rem);
}
.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_product-card-double__3Aavy,
.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_product-card__1IZaK {
  min-height: 30%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_product-card-double__3Aavy,
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_product-card__1IZaK {
    min-height: 250px;
  }
}

.BentoBox_bento-tiles__3e5Y- .BentoBox_right-column__2p8kY > :first-child,
.BentoBox_bento-tiles__3e5Y- .BentoBox_right-column__2p8kY > :nth-child(2),
.BentoBox_bento-tiles__3e5Y- .BentoBox_right-column__2p8kY > :nth-child(3) {
  height: 33.333333%;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY {
  height: 50%;
  width: 100%;
}

@media (min-width: 1024px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY {
    height: 100%;
    width: 66.666667%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  > :first-child {
  height: 25%;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv {
  flex-wrap: wrap;
  grid-gap: 1rem;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv {
    display: grid;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv {
  height: 75%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 1280px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv
    > a {
    width: 100%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  > a:nth-child(-n + 3) {
  width: 30%;
  flex-grow: 1;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:first-child {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(3) {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}

@media (min-width: 768px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv
    a:nth-child(3) {
    width: 30%;
  }
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(4) {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
  .BentoBox_right-column__2p8kY
  .BentoBox_grid-container__2TfXv
  a:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: 3;
}

@media (min-width: 1280px) {
  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv {
    height: 83%;
  }

  .BentoBox_bento-tiles__3e5Y-.BentoBox_more-tiles__77MlK
    .BentoBox_right-column__2p8kY
    .BentoBox_grid-container__2TfXv
    > a:nth-child(-n + 3) {
    width: 100%;
  }
}

/* Eliminar subrayado de todos los enlaces en las categorías de landing */
.BentoBox_product-card__1IZaK {
  text-decoration: none;
}

.BentoBox_product-card__1IZaK:hover {
  text-decoration: none;
}
