@import url('variables/_typography.css');
@import url('variables/_colors.css');
@import url('typography.css');
@import url('variables/_breakpoints.css'); 
@import url('components/_accessibility.css'); 


/*
Estilos de prueba
*/

body {
    background-color: var(--bg);
    color: var(--text);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

